<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <div>
        <p>{{todo.user.username}}의 Todo</p>
        <h1>{{todo.content}}</h1>
        <p>생성 시간 : {{todo.created_at}}</p>
        <p>수정 시간 : {{todo.updated_at}}</p>
        <p>현재 사용자 : {{user.username}}</p>
    </div>
    {% if request.user == todo.user %}
    <div>
        <a href="/todo/update/{{todo.id}}/">
            <button>수정하기</button>
        </a>
    </div>
    {% endif %}

    <a href="/todo/">
        <button>돌아가기</button>
    </a>
</body>
</html>